$primary-color: #cb0e0e;
$page-background: #eeeeee;
$menu-background: #444444;

//Global Styles
//---------------------------------
.animate-all {
  -webkit-transition: all 200ms ease-out 200ms;
  -moz-transition: all 200ms ease-out 200ms;
  -o-transition: all 200ms ease-out 200ms;
  transition: all 200ms ease-out 200ms;
}

// Header Section
//---------------------------------
.header {
  box-shadow: 0 1px 2px #2828284f;
  z-index: 1000;
  position: relative;

  // Header left section
  .header-left {
    background-color: $primary-color;
    width: 250px;
    text-align: center;
    padding: 10px 0;

    img {
      width: 65%;
      margin: 10px 0;

      // Breakpoint styles for screens smaller than 800px
      @media (max-width: 800px) {
        width: 162px;
        margin-left: 26px;
      }
    }

    // Breakpoint styles for screens smaller than 800px
    @media (max-width: 800px) {
      width: 100%;
      text-align: left;
    }
  }

  // Header right section
  .header-right {
    padding: 20px 25px;

    .menu-trigger {
      font-size: 23px;
      margin-top: 8px;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }

    .search-input {
      border: none;
      background: #e8e8e894;
      border-radius: 20px;
      font-size: 15px;
      padding: 4px 10px;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }

    .pro-pic {
      width: 40px;
      height: 40px;
      background-position: center center;
      background-size: cover;
      border-radius: 50px;
      float: right;
      margin-right: 10px;
    }

    .notifications {
      position: relative;
      float: right;
      width: 26px;
      height: 40px;
      margin-right: 10px;

      i {
        background: $primary-color;
        color: #fff;
        font-size: 18px;
        padding: 10px 12px;
        border-radius: 27px;
        width: 40px;
        height: 40px;
      }

      .count-label {
        position: absolute;
        top: -6px;
        background: #333333d1;
        color: #fff;
        border-radius: 15px;
        font-size: 11px;
        width: 22px;
        height: 21px;
        padding: 2px;
        text-align: center;
        right: -22px;
      }

      .notification-dropdown {
        position: absolute;
        width: 250px;
        right: -20px;
        top: 117%;
        background: #fff;
        padding: 0 5px;
        box-shadow: 0px 1px 3px #ccc;
        font-size: 12px;
        color: #666;
        border-radius: 3px;
        max-height: 0;
        overflow: hidden;

        &.show {
          max-height: 1000px;
        }

        .item {
          @extend .animate-all;
          padding: 10px;
          display: block;
          color: #666;
          background: #90909014;
          margin: 5px 0;
          border-radius: 5px;

          &:hover {
            color: #fff;
            background: #444444a3;
            text-decoration: none;
          }

          &:last-child {
            border: none;
          }
        }
      }
    }

    .user-info {
      float: right;
      text-align: right;
      margin-right: 10px;

      .name {
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;
      }

      .role {
        color: #8c8c8c;
        font-size: 12px;
        margin-top: -4px;
      }
    }
  }
}

// Side Menu Section
//---------------------------------
.side-menu {
  @extend .animate-all;
  width: 250px;
  min-height: 800px;
  background: $menu-background;
  margin-left: -250px;

  .menu-item {
    @extend .animate-all;
    color: #ccc;
    padding: 15px 20px;
    border-bottom: 1px solid #e8e8e817;
    font-size: 14px;

    &.animate-all i {
      margin-right: 10px;
    }

    &:hover {
      border-left: 5px solid #ffffff78;
      cursor: pointer;
      color: #fff;
    }

    &.current {
      box-shadow: 0 5px 5px -5px #2323239c;
      -moz-box-shadow: 0 5px 5px -5px #2323239c;
      -webkit-box-shadow: 0 5px 5px -5px #2323239c;
      border-bottom: none;
      color: #fff;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+100,7db9e8+100 */
      background: #1e5799; /* Old browsers */
      background: -moz-linear-gradient(
        top,
        #1e5799 0%,
        #207cca 100%,
        #7db9e8 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        #1e5799 0%,
        #207cca 100%,
        #7db9e8 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        #444444 0%,
        #4b4b4b 100%,
        #7db9e8 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

      i {
        color: $primary-color;
      }
    }
  }

  &.show {
    margin-left: 0;
  }

  // Breakpoint styles for screens smaller than 800px
  @media (max-width: 800px) {
    position: absolute;
    z-index: 10;
  }
}

// Side Menu Section
//---------------------------------
.page-content {
  background: $page-background;
  padding-top: 15px;
  min-height: 100hv;

  //Page Title Section
  .page-title {
    border-bottom: 1px solid #cccccc75;
    padding-bottom: 14px;
    margin-bottom: 20px;

    h4 {
      color: #444444;
      margin-bottom: -1px;
      font-size: 22px;
    }

    span {
      font-size: 12px;
      color: #777;
      padding-left: 32px;
      text-transform: uppercase;
    }
  }

  .widget-section {
    background: #fff;
    min-height: 200px;
    padding: 15px;
    margin-bottom: 15px;

    .title {
      font-size: 14px;
      border-bottom: 1px solid #cccccc59;
      padding-bottom: 14px;

      i {
        padding: 0px 10px;
      }
    }
  }

  //Main stats widgets
  .stats {
    .widget {
      background: #fff;
      min-height: 100px;
      //   border-radius: 4px;
      box-shadow: 0 4px 4px -2px #ccc;
      text-align: center;
      margin-bottom: 20px;
      padding: 15px 0;

      h4 {
        font-size: 25px;
      }

      i {
        color: $primary-color;
        font-size: 26px;
      }

      span {
        font-size: 13px;
        color: #6f6f6f;
        font-weight: bold;
      }
    }
  }
}
