// Header Section
//---------------------------------
$primary-color: #cb0e0e;

.header {
  box-shadow: 0 1px 2px #ccc;

  // Header left section
  .header-left {
    background-color: $primary-color;
    width: 250px;
    text-align: center;
    padding: 10px 0;

    img {
      width: 65%;
      margin: 10px 0;

      // Breakpoint styles for screens smaller than 800px
      @media (max-width: 800px) {
        width: 162px;
        margin-left: 26px;
      }
    }

    // Breakpoint styles for screens smaller than 800px
    @media (max-width: 800px) {
      width: 100%;
      text-align: left;
    }
  }

  // Header right section
  .header-right {
    padding: 20px 25px;

    .menu-trigger {
      font-size: 23px;
      margin-top: 8px;
    }

    .search-input {
      border: none;
      background: #e8e8e894;
      border-radius: 20px;
      font-size: 15px;
      padding: 4px 10px;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }

    .pro-pic {
      width: 40px;
      height: 40px;
      background-position: center center;
      background-size: cover;
      border-radius: 50px;
      float: right;
      margin-right: 10px;
    }

    .notifications {
      position: relative;
      float: right;
      width: 26px;
      height: 40px;
      margin-right: 10px;

      i {
        background: $primary-color;
        color: #fff;
        font-size: 18px;
        padding: 10px 12px;
        border-radius: 27px;
        width: 40px;
        height: 40px;
      }

      .count-label {
        position: absolute;
        top: -6px;
        background: #333333d1;
        color: #fff;
        border-radius: 15px;
        font-size: 11px;
        width: 22px;
        height: 21px;
        padding: 2px;
        text-align: center;
        right: -22px;
      }
    }

    .user-info {
      float: right;
      text-align: right;
      margin-right: 10px;

      .name {
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;
      }

      .role {
        color: #8c8c8c;
        font-size: 12px;
        margin-top: -4px;
      }
    }
  }
}
